.head {
    padding: 20px 0;
    color: #000;
}

.logo h1{
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
}
    
.head .icon{
    margin-left: 10px;
}

/* header */

header{
    background-color: #AFB09F;
    margin: 0 30px;
}

header ul {
    padding: 30px 20px;
}

header li {
    margin-right: 40px;
}

header ul li a {
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

header ul li a:hover{
  cursor: pointer;
  color:#436369;
}

.start {
    background-color:#436369;
    padding: 30px 70px;
    color: #fff;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.toggle{
    display: none;  
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .start {
        clip-path: none;
    }

    header{
        margin: 0;
        background-color: #436369;
        position: relative; 
    }

    header ul.flexSB {
        display: none;
    }

    .toggle{
        display: block;
        background: none;
        color: #fff;
        font-size: 30px;
        position: absolute;
        right: 0;
        top: 20px;
    }

    .mobile-nav {
        position: absolute;
        top: 7vh;
        left: 0;
        width: 100%;
        background-color: #436369;
    }
}
