* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3e6d6;
}

.container{
  max-width: 85%;
  margin: auto;
}

.flexSB{
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(247, 234, 234, 0.5);
  color: #436369;
  transition: 0.5s;
}

.icon:hover {
  cursor: pointer;
  background-color:#436369;
  color: #fff;
}

a{
  text-decoration: none;
}

li {
  list-style-type: none;
}

.row {
  width: 50%;
}

button {
  border: none;
}

button{
  padding: 17px 30px;
  background-color: #fff;
  color: #436369;
  font-weight: 600;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgba(2, 56, 46, 0.5);
}

button:hover {
  border: none;
}

.primary-btn {
  background-color: #436369;
  color: #fff;
}

#heading{
  padding: 40px 0;
  text-align: center;
}

#heading h3{
  letter-spacing: 2px;
  color:#33585F;
}

#heading h1{
  font-size: 40px;
  margin:20px 0;
}

p{
  line-height: 20px;
  font-size: 18px;
}


/* About section*/
.back {
  background-image: url("../public/images/sittinggirl.png");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  text-align: center;
  top:0;
  left:0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 30%;
  padding-right: 70px;
  color: #fff;
}

.back h1{
  font-size: 100px;
  font-weight: 400;
  font-family: 'Ysabeau', sans-serif;

}

.back h2{
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.margin{
  margin-top: 40%;
}
